.App {
  text-align: center;
}

.main{
  border: 2px solid rgb(26,29,48);
  width: 35vw;
}

.search{
  width: 35vw;
  height: 35px;
  padding: 5px 1vw;
  background-color: inherit;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: rgb(26,29,48);
}

.search::placeholder{
  color: rgb(26,29,48);
}

.search_data{
  width: 35vw;
  margin: auto;
  overflow-y: scroll;
  height: fit-content;
  font-size: 17px;
  max-height: 50vh;
  position:absolute;
  background-color:#45A3F7;
}

.search_data::-webkit-scrollbar{
  width: 15px;
}

.search_data::-webkit-scrollbar-track{
  background-color:white;
  /* border: 1px solid black; */
}

.search_data::-webkit-scrollbar-thumb{
  background-color: rgb(26,29,48);
  border-radius: 25px;
}

.element{
  color: white;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding: 10px 1vw;
}

.element:hover{
  background-color:#78bdfa;
}

.element>div:nth-child(1){
  text-align: left;
}

.element>div:nth-child(1)>span{
  font-size: 14px;
  color: rgb(223, 219, 219);
}

.element>div:nth-child(2){
  text-align: right;
}

.element>div>p, .flex_div>div>p{
  margin: 0;
}

.flex_div{
  display: flex;
  justify-content: space-between;
}

.flex_div>button{
  margin-right: 20px;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2);
}

.watch_list{
  width: 35vw;
  height: 80vh;
  background-color: rgb(26,29,48);
  border: 2px solid black;
  border-top: none;
  margin: auto;
  max-height: 80vh;
  overflow-y: scroll;
}

.watch_list::-webkit-scrollbar{
  width: 15px;
}

.watch_list::-webkit-scrollbar-track{
  background-color:rgb(26,29,48);
}

.watch_list::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 25px;
}

.watch_list>span, .watch_list>h3{
  color: white;
  font-size: 17px;
}